

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.super-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  overflow-y:auto
}

.calculator-root{
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  border-radius: 5px;
  overflow: hidden;
}

.calculator-main-container{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.calculator-section{
  padding: 2px;
  background-color: lightgray;
  display: flex;
  border:1px solid black;
}

.text-display{
  color: green;
  height: 30px;
  background-color: rgb(31, 31, 31);
  box-sizing: border-box;
  padding: 5px;
  text-align: right;
  border-radius: 5px;
}

.primary-text-display{
  width: 100%;
}

.secondary-text-display{
  width: 70px;
}

.secondary-text-display-container{
  justify-content: right;
}

.controls-container{
  display: flex;
}

.number-inputs-container{
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  line-height: 0;
}

.operation-inputs-container{

  flex-direction: column;
  
}